
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--查询条件开始-->
<div class="col-sm-12">
    <div class="col-sm-3">
        <label class="col-sm-4 control-label">学号</label>
        <input class="col-sm-8 round-form" type="text" id="txtNum" name="txtNum" placeholder="请输入学号">
    </div>
    <div class="col-sm-3">
        <label class="col-sm-4 control-label">姓名</label>
        <input class="col-sm-8 round-form" type="text" id="txtName" name="txtName" placeholder="请输入姓名">
    </div>
    <div class="col-sm-3">
        <label class="col-sm-4 control-label">班级</label>
        <input class="col-sm-8 round-form" type="text" id="txtMajorClassName" name="txtMajorClassName" placeholder="请输入班级名称">
    </div>
    <div class="col-sm-3">
        <button id="btn_search" type="button" class="btn btn-default btn-space">
            查询
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
        <button id="btn_reset" type="button" class="btn btn-default btn-space">
            重置
            <span class="fa fa-eraser" aria-hidden="true"></span>
        </button>
    </div>
</div>
<!--查询条件结束-->


<!--表格开始-->
<div class="col-lg-12 col-xs-12">
    <table id="UserList"></table>
</div><!-- /col-lg-12 -->
<!--表格结束-->


<!--操作按钮，用户的多条删除和添加开始-->
<div class="btn-group pull-right" id="toolbar">
    <button id="AddUser" type="button" class="btn btn-default" data-toggle='modal' data-target='#AddModal'>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加
    </button>
    <button id="AddStudents" type="button" class="btn btn-default" data-toggle='modal' data-target='#AddExcel'>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>批量添加
    </button>
    <button id="DeleteUsers" type="button" class="btn btn-default" style="">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
    </button>
</div>
<!--操作按钮，用户的多条删除和添加结束-->


<!--添加时模态框-->
<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddModalLabel">添加用户信息</h4>
            </div>
            <div class="modal-body">
                <form id="AddForm" class="form-horizontal style-form" method="post" action="##">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">用户名</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control round-form" id="AddNum" name="AddNum">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">姓名</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control round-form" id="AddName" name="AddName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">性别</label>
                        <div class="col-sm-6">
                            <div class="radio">
                                <label class="col-xs-6 col-lg-6">
                                    <input type="radio" id="AddSex0" name="AddSex" value="0">
                                    女
                                </label>
                                <label class="col-xs-6 col-lg-6">
                                    <input type="radio" id="AddSex1" name="AddSex" value="1">
                                    男
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">学院</label>
                        <div class="col-sm-6 col-xs-12">
                            <select class="form-control round-form" id="AddArchitecture" ,name="AddArchitecture"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">专业班级</label>
                        <div class="col-sm-6">
                            <select class="form-control round-form" id="AddMajorClassId" ,name="AddMajorClassId"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">联系方式</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control round-form" id="AddPhoneNum" name="AddPhoneNum">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">是否管理员</label>
                        <div class="col-sm-6">
                            <div class="radio">
                                <label class="col-xs-6 col-lg-6">
                                    <input type="radio" id="AddIsAdmin0" name="AddIsAdmin" value="0">
                                    否
                                </label>
                                <label class="col-xs-6 col-lg-6">
                                    <input type="radio" id="AddIsAdmin1" name="AddIsAdmin" value="1">
                                    是
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="AddClose">关闭</button>
                <button type="submit" class="btn btn-primary" id="AddSubmit">提交</button>
            </div>
        </div>
    </div>
</div>
<!--添加时模态框结束-->


<!--修改时模态框-->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="EditModalLabel">修改用户信息</h4>
            </div>
            <div class="modal-body">
                <form id="EditForm" class="form-horizontal style-form" method="post" action="##">
                    <div class="form-group hide">
                        <label class="col-sm-2 col-sm-2 control-label">Id</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control round-form" id="EditId" name="EditId">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">用户名</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control round-form" id="EditNum" name="EditNum">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">姓名</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control round-form" id="EditName" name="EditName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">性别</label>
                        <div class="col-sm-6">
                            <div class="radio">
                                <label class="col-xs-6 col-lg-6">
                                    <input type="radio" id="EditSex0" name="EditSex" value="0">
                                    女
                                </label>
                                <label class="col-xs-6 col-lg-6">
                                    <input type="radio" id="EditSex1" name="EditSex" value="1">
                                    男
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">学院</label>
                        <div class="col-sm-6 col-xs-12">
                            <select class="form-control round-form" id="EditArchitecture" ,name="EditArchitecture"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">专业班级</label>
                        <div class="col-sm-6">
                            <select class="form-control round-form" id="EditMajorClassId" ,name="EditMajorClassId"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">联系方式</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control round-form" id="EditPhoneNum" name="EditPhoneNum">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">是否管理员</label>
                        <div class="col-sm-6">
                            <div class="radio">
                                <label class="col-xs-6 col-lg-6">
                                    <input type="radio" id="EditIsAdmin0" name="EditIsAdmin" value="0">
                                    否
                                </label>
                                <label class="col-xs-6 col-lg-6">
                                    <input type="radio" id="EditIsAdmin1" name="EditIsAdmin" value="1">
                                    是
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="EditClose">关闭</button>
                <button type="submit" class="btn btn-primary" id="EditSubmit">提交</button>
            </div>
        </div>
    </div>
</div>
<!--修改时模态框结束-->


@section javascript{
    <link href="~/assets/bootstraptable/src/bootstrap-table.css" rel="stylesheet" />
    <script src="~/assets/bootstraptable/src/bootstrap-table.js"></script>

    <!--表格加载-->
    <script>
        $("#UserList").bootstrapTable({
            url: "/User/GetAllUser",// 获取表格数据的url
            method: 'post',//请求方式
            dataType: "json",
            dataField: "rows",
            classes: 'table',//边框
            undefinedText: '',//当数据为 undefined 时显示的字符
            pagination: true,//启动分页
            striped: true,  //表格显示条纹，默认为false
            pagination: true, // 在表格底部显示分页组件，默认false
            pageList: [10, 25, 50], // 设置页面可以显示的数据条数
            pageSize: 25, // 页面数据条数
            pageNumber: 1, // 首页页码
            showColumns: true,  //显示下拉框勾选要显示的列
            showRefresh: false,  //显示刷新按钮
            showToggle: false,//显示一行是否改成竖着
            showPaginationSwitch: true,//是否显示 下面的分页框
            search: false, //显示搜索框
            //toolbar操作
            toolbar: '#toolbar',//工具按钮用哪个容器
            toolbarAligh: 'left',//工具栏对齐方式
            buttonsAligh: 'right',//按钮对齐方式

            sortOrder: "asc",//排序方式
            locale: 'zh-CN',//中文支持
            sidePagination: 'server', // 设置为客户端分页
            queryParamsType: '',//采用自定义查询参数组织方式
            queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求               
                var Num = $("#txtNum").val();
                var Name = $("#txtName").val();
                var MajorClassName = $("#txtMajorClassName").val();
                return {
                    PageSize: params.pageSize, // 每页要显示的数据条数
                    PageNumber: params.pageNumber,//请求第几页       
                    Num: Num,
                    Name: Name,
                    MajorClassName: MajorClassName,
                }
            },

            columns: [{
                checkbox: true
            }, {
                field: 'Id',
                title: '学生唯一Id',
                visible: false,
                align: 'center',
                valign: 'middle'
            }, {
                field: 'Num',
                title: '登录账号',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'Name',
                title: '姓名',
                align: 'center',
                valign: 'middle'
            },{
                field: 'Sex',
                title: '性别',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    if (row.Sex == 0) {
                        return '女';
                    } else if (row.Sex == 1) {
                        return '男';
                    }
                }
            },{
                field: 'MajorClass.MajorClassName',
                title: '所在班级',
                align: 'center',
                valign: 'middle'
            },{
                field: 'PhoneNum',
                title: '联系方式',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'Number',
                title: '预约未到次数',
                align: 'center',
                valign: 'middle'
            },{
                field: 'IsAdmin',
                title: '是否是管理员',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    if (row.IsAdmin == 0) {
                        return '否';
                    } else if (row.Sex == 1) {
                        return '是';
                    }
                }   
            },
            {
                title: '操作',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return "<button onclick=\"Edit(" + row.Id +
                        ")\" data-toggle='modal' data-target='#EditModal' class='btn btn-default btn-sm'>" +
                        "<span class='glyphicon glyphicon-pencil' aria-hidden='true'>修改</span></button>"+
                        "<button onclick='ResetPassword(" + row.Id +
                        ")' class='btn btn-default btn-sm'>" +
                        "<span class='glyphicon glyphicon-pencil' aria-hidden='true'>重置密码</span></button>";
                }
            }]
        })
    </script>
    <!--表格加载结束-->


    <!--ajax提交添加用户信息-->
    <script>

        //获取学院信息
        $("#AddUser").click(function () {
            $.ajax({
                url: "/Architecture/GetAllArchitecture",
                asyn:false,
                type: "POST",
                dataType: "json",
                success: function (architecture) {
                    $("#AddArchitecture").empty();
                    for (let i = 0; i < architecture.length; i++) {
                        if (i == 0 && architecture[i].IsCollege==1) {
                            $("#AddArchitecture").append("<option value='" + architecture[i].Id + "' selected='selected'>" + architecture[i].ArchitectureName + "</option>")
                        } else if (i != 0 && architecture[i].IsCollege == 1) {
                            $("#AddArchitecture").append("<option value='" + architecture[i].Id + "'>" + architecture[i].ArchitectureName + "</option>")
                        }
                    }
                    //获取专业班级信息
                    $.ajax({
                        url: "/User/GetMajorClass",
                        data: { ArchitectureId: architecture[0].Id },
                        asyn: false,
                        type: "POST",
                        dataType: "json",
                        success: function (majorClass) {
                            $("#AddMajorClassId").empty();
                            for (let i = 0; i < majorClass.length; i++) {
                                if (i == 0) {
                                    $("#AddMajorClassId").append("<option value='" + majorClass[i].Id + "' selected='selected'>" + majorClass[i].MajorClassName + "</option>")
                                } else {
                                    $("#AddMajorClassId").append("<option value='" + majorClass[i].Id + "'>" + majorClass[i].MajorClassName + "</option>")
                                }
                            }
                        }
                    })
                }
            })
        })

        //学院改变时班级变化
        $("#AddArchitecture").change(function () {
            //获取专业班级信息
            $.ajax({
                url: "/User/GetMajorClass",
                data: { ArchitectureId: $("#AddArchitecture").val()},
                type: "POST",
                dataType: "json",
                success: function (majorClass) {
                    $("#AddMajorClassId").empty();
                    for (let i = 0; i < majorClass.length; i++) {
                        if (i == 0) {
                            $("#AddMajorClassId").append("<option value='" + majorClass[i].Id + "' selected='selected'>" + majorClass[i].MajorClassName + "</option>")
                        } else {
                            $("#AddMajorClassId").append("<option value='" + majorClass[i].Id + "'>" + majorClass[i].MajorClassName + "</option>")
                        }
                    }
                }
            })
        })

        //提交用户信息
        $("#AddSubmit").click(function () {
            $.ajax({
                url: "/User/AddSaveUser",
                data: {
                    AddNum: $("#AddNum").val(),
                    AddName: $("#AddName").val(),
                    AddSex: jQuery('[name="AddSex"]:checked').val(),
                    AddMajorClassId: $("#AddMajorClassId").val(),
                    AddPhoneNum: $("#AddPhoneNum").val(),
                    AddIsAdmin: jQuery('[name="AddIsAdmin"]:checked').val()
                },
                type: "POST",
                dataType: "json",
                success: function (result) {
                    alert(result);
                    $("#AddClose").click();
                    $("#UserList").bootstrapTable('refresh');
                }
            })
        })

    </script>
    <!--ajax提交添加用户信息结束-->


    <!--重置密码开始-->
    <script type="text/javascript">
        function ResetPassword(Id) {
            $.ajax({
                url: "/User/ResetPassword",
                data:{UserId : Id},
                type: "POST",
                dataType: "json",
                success: function (result) {
                    alert(result);
                }
            })
        }
    </script>
    <!--重置密码结束-->

    <!--向修改模态框添加待编辑用户信息-->
    <script>
        //编辑用户信息
        function Edit(Id) {
            $.ajax({               //获取用户信息
                url: "/User/GetUser",
                data: { UserId: Id },
                asyn: false,
                type: "POST",
                dataType: "JSON",
                success: function (user) {
                    $("#EditId").val(user.Id);
                    $("#EditNum").val(user.Num);
                    $("#EditName").val(user.Name);
                    if (user.Sex == 0) {
                        $('#EditSex1').removeAttr("checked");
                        $('#EditSex0').attr("checked", "checked");
                    } else if (user.Sex == 1) {
                        $('#EditSex0').removeAttr("checked");
                        $('#EditSex1').attr("checked", "checked");
                    }
                    //获取学院信息
                    $.ajax({
                        url: "/Architecture/GetAllArchitecture",
                        type: "POST",
                        dataType: "json",
                        success: function (architecture) {
                            $("#EditArchitecture").empty();
                            for (let i = 0; i < architecture.length; i++) {
                                if (user.MajorClass.ArchitectureId == architecture[i].Id && architecture[i].IsCollege == 1) {
                                    $("#EditArchitecture").append("<option value='" + architecture[i].Id + "' selected='selected'>" + architecture[i].ArchitectureName + "</option>")
                                } else if (architecture[i].IsCollege == 1) {
                                    $("#EditArchitecture").append("<option value='" + architecture[i].Id + "'>" + architecture[i].ArchitectureName + "</option>")
                                }
                            }
                        }
                    })
                    //获取专业班级信息
                    $.ajax({
                        url: "/User/GetMajorClass",
                        data: { ArchitectureId: user.MajorClass.ArchitectureId },
                        asyn: false,
                        type: "POST",
                        dataType: "json",
                        success: function (majorClass) {
                            $("#EditMajorClassId").empty();
                            for (let i = 0; i < majorClass.length; i++) {
                                if (user.MajorClassId == majorClass[i].Id) {
                                    $("#EditMajorClassId").append("<option value='" + majorClass[i].Id + "' selected='selected'>" + majorClass[i].MajorClassName + "</option>")
                                } else {
                                    $("#EditMajorClassId").append("<option value='" + majorClass[i].Id + "'>" + majorClass[i].MajorClassName + "</option>")
                                }
                            }
                        }
                    })
                    $("#EditPhoneNum").val(user.PhoneNum);
                    if (user.IsAdmin == 0) {
                        $('#EditIsAdmin1').removeAttr("checked");
                        $('#EditIsAdmin0').attr("checked", "checked");
                    } else if (user.Sex == 1) {
                        $('#EditIsAdmin0').removeAttr("checked");
                        $('#EditIsAdmin1').attr("checked", "checked");
                    }
                }
            })
        }

        //学院改变时班级变化
        $("#EditArchitecture").change(function () {
            //获取专业班级信息
            $.ajax({
                url: "/User/GetMajorClass",
                data: { ArchitectureId: $("#EditArchitecture").val() },
                type: "POST",
                dataType: "json",
                success: function (majorClass) {
                    $("#EditMajorClassId").empty();
                    for (let i = 0; i < majorClass.length; i++) {
                        if (i == 0) {
                            $("#EditMajorClassId").append("<option value='" + majorClass[i].Id + "' selected='selected'>" + majorClass[i].MajorClassName + "</option>")
                        } else {
                            $("#EditMajorClassId").append("<option value='" + majorClass[i].Id + "'>" + majorClass[i].MajorClassName + "</option>")
                        }
                    }
                }
            })
        })

    </script>
    <!--向修改模态框添加待编辑用户信息结束-->


    <!--ajax提交编辑后的用户信息-->
    <script>
        $("#EditSubmit").click(function () {
            $.ajax({
                url: "/User/EditSaveUser",
                data: {
                    EditId: $("#EditId").val(),
                    EditNum: $("#EditNum").val(),
                    EditName: $("#EditName").val(),
                    EditSex: jQuery('[name="EditSex"]:checked').val(),
                    EditMajorClassId: $("#EditMajorClassId").val(),
                    EditPhoneNum: $("#EditPhoneNum").val(),
                    EditIsAdmin: jQuery('[name="EditIsAdmin"]:checked').val(),
                    },
                type: "POST",
                dataType: "json",
                success: function (result) {
                    alert(result);
                    $("#EditClose").click();
                    $("#UserList").bootstrapTable('refresh');
                }
            })
        })
    </script>
    <!--ajax提交编辑后的用户信息结束-->


    <!--ajax删除用户信息并更新表格-->
    <script>
        $("#DeleteUsers").click(function () {

            var ids = $.map($("#UserList").bootstrapTable('getSelections'),
                function (row) {
                    return row.Id;
                })
            if (ids.length <= 0) {
                alert("请选择至少一条的删除记录");
            } else {
                if (confirm("确定删除？")) {
                    $.ajax({
                        url: "/User/Delete",
                        type: "POST",
                        data: { Ids: ids },
                        dataType: "json",
                        success: function (result) {
                            alert(result);
                            $("#UserList").bootstrapTable('refresh');
                        }
                    })
                }
            }
        })
    </script>
    <!--ajax删除用户信息并更新表格结束-->
}




