
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Num = ViewBag.Num;
    int Role = ViewBag.Role;
}

<!--表格开始-->
<br />
<div class="col-lg-12 col-xs-12">
    <div  class="col-lg-1 col-xs-1">
        <input id="btnSearch" type="button" class="btn btn-primary btn-space" value="查询" />
    </div>
    <div class="col-lg-11 col-xs-11">
        <input id="txtSearch" type="text" class="form-control round-form" placeholder="请输入讲座主题或举办人姓名" />
    </div>
</div>
<br />
<div class="col-lg-12 col-xs-12">
    <table id="LectureList"></table>
</div><!-- /col-lg-12 -->
<!--表格结束-->

@section javascript{
    <link href="~/assets/bootstraptable/src/bootstrap-table.css" rel="stylesheet" />
    <script src="~/assets/bootstraptable/src/bootstrap-table.js"></script>

    <!--表格加载-->
   <script>
        $("#LectureList").bootstrapTable({
            url: "/Lecture/GetAllLecture",// 获取表格数据的url
            method: 'post',//请求方式
            dataType: "json",
            dataField: "rows",
            classes: 'table',//边框
            undefinedText: '',//当数据为 undefined 时显示的字符
            pagination: true,//启动分页
            striped: true,  //表格显示条纹，默认为false
            pagination: true, // 在表格底部显示分页组件，默认false
            pageList: [10, 25, 50], // 设置页面可以显示的数据条数
            pageSize: 10, // 页面数据条数
            pageNumber: 1, // 首页页码
            showColumns: true,  //显示下拉框勾选要显示的列
            showRefresh: false,  //显示刷新按钮
            showToggle: false,//显示一行是否改成竖着
            showPaginationSwitch: true,//是否显示 下面的分页框
            search: false, //显示搜索框
            detailView: true,       //详情页面显示
            //toolbar操作
            toolbar: '#toolbar',//工具按钮用哪个容器
            toolbarAligh: 'left',//工具栏对齐方式
            buttonsAligh: 'right',//按钮对齐方式

            sortOrder: "asc",//排序方式
            locale: 'zh-CN',//中文支持
            sidePagination: 'server', // 设置为服务器端分页

            queryParamsType: '',//采用自定义查询参数组织方式
            queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求               
                return {
                    ParamLecture: $("txtSearch").val(),
                    PageSize: params.pageSize, // 每页要显示的数据条数
                    PageNumber: params.pageNumber,//请求第几页
                }
            },

            columns: [{
                field: 'Id',
                title: '讲座信息Id',
                visible: false,
                align: 'center',
                valign: 'middle'
            }, {
                field: 'Lecture.Subject',
                title: '讲座信息名',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'User.Name',
                title: '负责人',
                align: 'center',
                valign: 'middle'
            }, {
                title: '开始时间',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return changeDateFormat(row.Lecture.LectureTime)+" "+changeTimeFormat(row.Lecture.LectureTime);
                }
            }, {
                title: '报名截止时间',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return changeDateFormat(row.Lecture.DeathLine);
                },

            }, {
                field: 'Place.PlaceName',
                title: '举办地点',
                align: 'center',
                valign: 'middle'
            }, {
                title: '操作',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    let str;
                    $.ajax({
                        url: "/Lecture/OrderSelect",
                        async:false,
                        data: {
                            Num: @Num,
                            LectureId: row.Lecture.Id
                        },
                        type: "POST",
                        dataType: "json",
                        success: function (result) {
                            if (result == 0) {
                                str = "<button id=Order_" + row.Lecture.Id + " onclick='Order(" + row.Lecture.Id +
                                    ")' class='btn btn-default btn-sm'>" +
                                    "<span id ='Span_" + row.Lecture.Id +
                                    "' class='glyphicon glyphicon-pencil' aria-hidden='true'>报名</span></button>";
                            } else if (result == 1) {
                                str = "<button id=Order_" + row.Lecture.Id + " onclick='OrderDelete(" + row.Lecture.Id +
                                    ")' class='btn btn-default btn-sm'>" +
                                    "<span id ='Span_" + row.Lecture.Id +
                                    "' class='glyphicon glyphicon-pencil' aria-hidden='true'>取消报名</span></button>";
                            } else if (result == 2) {
                                str = "<button id=Order_" + row.Lecture.Id + " onclick='OrderDelete(" + row.Lecture.Id +
                                    ")' class='btn btn-default btn-sm'>" +
                                    "<span id ='Span_" + row.Lecture.Id +
                                    "' class='glyphicon glyphicon-pencil' aria-hidden='true'>等待后续通知</span></button>";
                            } else if (result == 3) {
                                str ="<button onclick='OrderNot()' class='btn btn-default btn-sm'>" +
                                    "<span id ='Span_" + row.Lecture.Id +
                                    "' class='glyphicon glyphicon-pencil' aria-hidden='true'>报名以截止</span></button>";
                            }
                        }
                    })
                    str += "<span Id='SpanLecture_"+row.Lecture.Id+"'></span>";
                    str += "<a href='/Resource/Index?LectureId="+row.Lecture.Id+"&Num=@Num&Role=@Role'><button class='btn btn-default btn-sm'>" +
                            "<span class='glyphicon glyphicon-pencil' aria-hidden='true'>查看评论</span></button></a>";
                    return str;
                }
            }],

            //子页面（详情页）内容
            onExpandRow: function (index, row, $detail) {
                oTableInit.InitSubTable(index, row, $detail);
            }

        })
    </script>
   <script>
        var oTableInit = new Object();
        oTableInit.InitSubTable = function (index, row, $detail) {
            var cur_table = $detail.html('<table></table>').find('table');
            $(cur_table).bootstrapTable({
                url: "/Lecture/GetLecture?LectureId=" + row.Lecture.Id + "&State=1",// 获取表格数据的url
                method: 'post',//请求方式
                dataType: "json",
                dataField: "data",
                datailView: true,
                pageSize: 10, // 页面数据条数
                pageNumber: 1, // 首页页码
                pageList: [10, 25],
                columns: [{
                    field: "Lecture.Summary",
                    title: '内容简介',
                    align: 'center',
                    valign: 'middle'
                }, {
                    field: "User.PhoneNum",
                    title: '联系方式',
                    align: 'center',
                    valign: 'middle'
                }, {
                    field: "Lecture.Span",
                    title: '持续时间',
                    align: 'center',
                    valign: 'middle',
                    formatter: function (value, row, index) {
                        return value+"/h"
                    }
                }, {
                    field: "Lecture.Score",
                    title: '可获学分',
                    align: 'center',
                    valign: 'middle'
                }],
                //无线循环取子表，直到子表里面没有记录
                onExpandRow: function (index, row, $Subdetail) {
                    oTableInit.InitSubTable(index, row, $Subdetail);
                }
            });
            return oTableInit;
        };

        //日期转换
        function changeDateFormat(cellval) {
            if (cellval != null) {
                let date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                let month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                let currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                return date.getFullYear() + "/" + month + "/" + currentDate
            }
        }
        //时间转换
        function changeTimeFormat(cellval) {
            if (cellval != null) {
                let date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                let hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
                let minute = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
                return hours + ":" + minute;
            }
        }
    </script>
    <!--表格加载结束-->

    <!--报名功能开始-->
    <script>
        //报名
        function Order(LectureId) {
            $.ajax({
                url: "/Lecture/Order",
                data: {
                    Num: @Num,
                    LectureId: LectureId
                },
                type: "POST",
                dataType: "json",
                success: function (result) {
                    alert(result);
                    if(result=="报名成功"){
                        $("#Span_" + LectureId).text("取消报名");
                    }else if(result =="人满请注意后续地点通知"){
                        $("#Span_" + LectureId).text("等待后续通知");
                    }
                    
                    $("#Order_" + LectureId).attr("onclick", "OrderDelete(" + LectureId + ")");
                }
            })
        }

        //取消报名
        function OrderDelete(LectureId) {
            $.ajax({
                url: "/Lecture/OrderDelete",
                data: {
                    Num: @Num,
                    LectureId: LectureId
                },
                type: "POST",
                dataType: "json",
                success: function (result) {
                    alert(result);
                    $("#Span_" + LectureId).text("报名");
                    $("#Order_" + LectureId).attr("onclick", "Order(" + LectureId + ")");
                }
            })
        }

        //超出截止日期提示
        function OrderNot() {
            alert("报名以截止");
        }
    </script>
    <!--报名功能结束-->
}

