
@{
    ViewBag.Title = "Personal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Num = ViewBag.Num;
    int Role = ViewBag.Role;
}

<!--申请时模态框-->
<div class="modal fade" id="AddLecture" tabindex="-1" role="dialog" aria-labelledby="AddLectureLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddLectureLabel">申请讲座信息</h4>
            </div>
            <div class="modal-body">
                <form id="AddForm" class="form-horizontal style-form" method="post" action="##">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">主题</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control round-form" id="AddSubject" name="AddSubject">
                        </div>
                        <label class="col-sm-6 col-sm-6 control-label">最多50个字</label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">简介</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control round-form" id="AddSummary" name="AddSummary">
                        </div>
                        <label class="col-sm-6 col-sm-6 control-label">最多250个字</label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">开始日期</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control round-form" id="AddLectureDate" name="AddLectureDate" onblur="LectureCheck(0)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">开始时间</label>
                        <div class="col-sm-6">
                            <input type="time" class="form-control round-form" id="AddLectureTime" name="AddLectureTime" onblur="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">报名截止日期</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control round-form" id="AddDeathLine" name="AddDeathLine" onblur="DeathLineCheck(0)">
                        </div>
                        <label name="LabelDate" class="col-sm-6 col-sm-6 control-label">当天0点</label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">持续时间</label>
                        <div class="col-sm-6">
                            <select class="form-control round-form" id="AddSpan" name="AddSpan"> </select>
                        </div>
                        <label class="col-sm-6 col-sm-6 control-label">/小时</label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">举办学院</label>
                        <div class="col-sm-6">
                            <select class="form-control round-form" id="AddArchitectureId" name="AddArchitectureId" onchange="ArchitectureChange('AddArchitectureId', 'AddPlaceId')"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">举办地点</label>
                        <div class="col-sm-6">
                            <select class="form-control round-form" id="AddPlaceId" name="AddPlaceId" onchange="PeopleNumberCheck(0)"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">预计人数</label>
                        <div class="col-sm-6">
                            <select class="form-control round-form" id="AddExpectPeople" ,name="AddExpectPeople" onchange="PeopleNumberCheck(0)"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">可获学分</label>
                        <div class="col-sm-6">
                            <select class="form-control round-form" id="AddScore" name="AddScore"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="AddClose">关闭</button>
                <button type="submit" class="btn btn-primary" id="AddSubmit">提交</button>
            </div>
        </div>
    </div>
</div>
<!--申请时模态框结束-->
<!--修改时模态框-->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="EditModalLabel">修改讲座信息</h4>
            </div>
            <div class="modal-body">
                <form id="EditForm" class="form-horizontal style-form" method="post" action="##">
                    <div class="form-group hidden">
                        <label class="col-sm-2 col-sm-2 control-label">申请Id</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control round-form" id="EditApplyId" name="EditApplyId">
                        </div>
                    </div>
                    <div class="form-group hidden">
                        <label class="col-sm-2 col-sm-2 control-label">申请人学号</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control round-form" id="EditNum" name="EditNum">
                        </div>
                    </div>
                    <div class="form-group hidden">
                        <label class="col-sm-2 col-sm-2 control-label">讲座Id</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control round-form" id="EditLectureId" name="EditLectureId">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">主题</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control round-form" id="EditSubject" name="EditSubject">
                        </div>
                        <label class="col-sm-6 col-sm-6 control-label">最多50个字</label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">简介</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control round-form" id="EditSummary" name="EditSummary">
                        </div>
                        <label class="col-sm-6 col-sm-6 control-label">最多250个字</label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">开始日期</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control round-form" id="EditLectureDate" name="EditLectureDate" onblur="LectureCheck(1)">>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">开始时间</label>
                        <div class="col-sm-6">
                            <input type="time" class="form-control round-form" id="EditLectureTime" name="EditLectureTime">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">报名截止日期</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control round-form" id="EditDeathLine" name="EditDeathLine" onblur="DeathLineCheck(1)">
                        </div>
                        <label name="LabelDate" class="col-sm-6 col-sm-6 control-label">当天0点</label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">持续时间</label>
                        <div class="col-sm-6">
                            <select class="form-control round-form" id="EditSpan" name="EditSpan"> </select>
                        </div>
                        <label class="col-sm-6 col-sm-6 control-label">/小时</label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">举办学院</label>
                        <div class="col-sm-6">
                            <select class="form-control round-form" id="EditArchitectureId" name="EditArchitectureId" onchange="ArchitectureChange('EditArchitectureId', 'EditPlaceId')"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">举办地点</label>
                        <div class="col-sm-6">
                            <select class="form-control round-form" id="EditPlaceId" name="EditPlaceId" onchange="PeopleNumberCheck(1)"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">预计人数</label>
                        <div class="col-sm-6">
                            <select class="form-control round-form" id="EditExpectPeople" ,name="EditExpectPeople" onchange="PeopleNumberCheck(1)"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">可获学分</label>
                        <div class="col-sm-6">
                            <select class="form-control round-form" id="EditScore" name="EditScore"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="EditClose">关闭</button>
                <button type="submit" class="btn btn-primary" id="EditSubmit" onclick="EditSubmit()">提交</button>
            </div>
        </div>
    </div>
</div>
<!--修改时模态框结束-->
<!--获取二维码时模态框-->
<div class="modal fade" id="QR" tabindex="-1" role="dialog" aria-labelledby="QR">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddLectureLabel">签到二维码</h4>
            </div>
            <div class="modal-body">
                <img id="QRImg" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="QRClose">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--获取二维码时模态框结束-->
<!--导出Excel选择-->
<div class="modal fade" id="SelectExcel" tabindex="-1" role="dialog" aria-labelledby="SelectExcel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddLectureLabel">导出Excel格式选择</h4>
            </div>
            <div class="modal-body">
                <form id="AddForm" class="form-horizontal style-form" method="post" action="/Statistic/SavePeopleExcel">
                    <div class="form-group">
                        <input class="hidden" type="text" id="LectureIdExcel" name="LectureIdExcel" value="" />
                        <input class="hidden" type="text" id="Roke" name="Roke" />
                        <label class="checkbox-inline">
                            <input type="checkbox" id="AllExcel" name="AllExcel" value="*" /> 全选
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="NumExcel" name="NumExcel" value="Num" /> 学号
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="NameExcel" name="NameExcel" value="Name" /> 姓名
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="SexExcel" name="SexExcel" value="Sex" /> 性别
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="PhoneNumExcel" name="PhoneNumExcel" value="PhoneNum" /> 联系方式
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="MajorClassExcel" name="MajorClassExcel" value="MajorClass" /> 班级
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="ArchitectureExcel" name="ArchitectureExcel" value="Architecture" /> 学院
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="OrderExcel" name="OrderExcel" value="Order" /> 是否有预报名
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="StartTimeExcel" name="StartTimeExcel" value="StartTime" /> 到场时间
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="EndTimeExcel" name="EndTimeExcel" value="EndTime" /> 退场时间
                        </label>
                    </div>
                    <input type="submit"/>提交
                </form>
            </div>
        </div>
    </div>
</div>


<!--表格开始-->
<br />
<div class="col-lg-12 col-xs-12">
    <div class="col-lg-1 col-xs-1">
        <input id="btnSearch" type="button" class="btn btn-primary btn-space" value="查询" />
    </div>
    <div class="col-lg-11 col-xs-11">
        <input id="txtSearch" type="text" class="form-control round-form" placeholder="请输入讲座主题或举办人姓名" />
    </div>
</div>
<br />
<div class="col-lg-12 col-xs-12">
    <table id="LectureList"></table>
</div><!-- /col-lg-12 -->
<!--表格结束-->
<!--操作按钮，讲座信息的座信息的多条删除和申请开始-->
<div class="btn-group pull-right" id="toolbar">
    <button id="AddLectureBtn" type="button" class="btn btn-default"
            onclick="GetArchitecture()" data-toggle='modal' data-target='#AddLecture'>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>申请
    </button>
    <button id="DeleteLectureBtn" type="button" class="btn btn-default" style="">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
    </button>
</div>
<!--操作按钮，讲座信息的多条删除和申请结束-->

@section javascript{
    <link href="~/assets/bootstraptable/src/bootstrap-table.css" rel="stylesheet" />
    <script src="~/assets/bootstraptable/src/bootstrap-table.js"></script>

    <!--表格加载-->
    <script>
        $("#LectureList").bootstrapTable({
            url: "/Lecture/GetPersonalAllLecture?Num=@Num&Role=@Role",// 获取表格数据的url
            method: 'post',//请求方式
            dataType: "json",
            dataField: "rows",
            classes: 'table',//边框
            undefinedText: '',//当数据为 undefined 时显示的字符
            pagination: true,//启动分页
            striped: true,  //表格显示条纹，默认为false
            pagination: true, // 在表格底部显示分页组件，默认false
            pageList: [10, 25, 50], // 设置页面可以显示的数据条数
            pageSize: 10, // 页面数据条数
            pageNumber: 1, // 首页页码
            showColumns: false,  //显示下拉框勾选要显示的列
            showRefresh: false,  //显示刷新按钮
            showToggle: false,//显示一行是否改成竖着
            showPaginationSwitch: false,//是否显示 下面的分页框
            search: false, //显示搜索框
            detailView: true,       //详情页面显示
            //toolbar操作
            toolbar: '#toolbar',//工具按钮用哪个容器
            toolbarAligh: 'left',//工具栏对齐方式
            buttonsAligh: 'right',//按钮对齐方式

            sortOrder: "asc",//排序方式
            locale: 'zh-CN',//中文支持
            sidePagination: 'client', // 设置为服务器端分页

            columns: [{
                checkbox: true
            }, {
                field: 'Id',
                title: '讲座信息Id',
                visible: false,
                align: 'center',
                valign: 'middle'
            }, {
                field: 'Lecture.Subject',
                title: '讲座信息名',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'User.Name',
                title: '负责人',
                align: 'center',
                valign: 'middle'
            }, {
                title: '开始时间',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return changeDateFormat(row.Lecture.LectureTime).replace('-','/').replace('-','/')+" "+changeTimeFormat(row.Lecture.LectureTime);
                }
            }, {
                title: '报名截止时间',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return changeDateFormat(row.Lecture.DeathLine).replace('-','/').replace('-','/');
                },

            }, {
                title: '实际人数',
                field: 'Lecture.RealPeople',
                align: 'center',
                valign: 'middle',
            }, {
                field: 'Place.PlaceName',
                title: '举办地点',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'Lecture.State',
                title: '审核理由',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    let state = "";
                    if (value == 0 || value == 3) {
                        state = "待审核";
                    } else if (value == 1) {
                        state = "审核通过";
                    } else if (value == 2) {
                        state = "审核未通过";
                    }
                    return state;
                },

            }, {
                title: '操作',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    let str = "<button onclick='Edit(" + JSON.stringify(row) +
                        ")' data-toggle='modal' data-target='#EditModal' class='btn btn-default btn-sm'>" +
                        "<span class='glyphicon glyphicon-pencil' aria-hidden='true'>修改</span></button>" +
                         "<button onclick='GetQRCode(" + row.Lecture.QRCode +
                         ")' data-toggle='modal' data-target='#QR' class='btn btn-default btn-sm'>" +
                        "<span class='glyphicon glyphicon-pencil' aria-hidden='true'>签到二维码</span></button>" +
                         "<a href='/Resource/Index?LectureId="+row.Lecture.Id+"&Num=@Num&Role=@Role'><button class='btn btn-default btn-sm'>" +
                        "<span class='glyphicon glyphicon-pencil' aria-hidden='true'>查看评论</span></button></a>"+
                         "<button onclick='SetExcelLectureId("+row.Lecture.Id+")' data-toggle='modal' data-target='#SelectExcel' class='btn btn-default btn-sm'>" +
                        "<span class='glyphicon glyphicon-pencil' aria-hidden='true'>导出Excel</span></button>"+
                        "<span Id='SpanLecture_"+row.Lecture.Id+"'</Span>";

                    return str;
                }
            }],

            //子页面（详情页）内容
            onExpandRow: function (index, row, $detail) {
                oTableInit.InitSubTable(index, row, $detail);
            }

        })
    </script>
    <script>
        var oTableInit = new Object();
        oTableInit.InitSubTable = function (index, row, $detail) {
            var cur_table = $detail.html('<table></table>').find('table');
            $(cur_table).bootstrapTable({
                url: "/Lecture/GetLecture?LectureId=" + row.Lecture.Id+"&State=2",// 获取表格数据的url
                method: 'post',//请求方式
                dataType: "json",
                dataField: "data",
                datailView: true,
                pageSize: 10, // 页面数据条数
                pageNumber: 1, // 首页页码
                pageList: [10, 25],
                columns: [{
                    field: "Lecture.Summary",
                    title: '内容简介',
                    align: 'center',
                    valign: 'middle'
                }, {
                    field: "User.PhoneNum",
                    title: '联系方式',
                    align: 'center',
                    valign: 'middle'
                },{
                    field: "Lecture.Reason",
                    title: '审核结果',
                    align: 'center',
                    valign: 'middle',
                    formatter: function (value, row, index) {
                        if (value == "") {
                            return "审核通过";
                        } else {
                            return value;
                        }
                    }
                }],
                //无线循环取子表，直到子表里面没有记录
                onExpandRow: function (index, row, $Subdetail) {
                    oTableInit.InitSubTable(index, row, $Subdetail);
                }
            });
            return oTableInit;
        };
    </script>
    <!--表格加载结束-->
    <!--ajax提交申请讲座信息信息-->
    <script>
        //提交讲座信息信息
        $("#AddSubmit").click(function () {
            if($("#AddSubject").val()=="" || $("#AddSummary").val()==""||
                $("#AddLectureTime").val()=="" || $("#AddDeathLine").val()==""){
                alert("请确保按照格式填入全部信息");
            }
            $.ajax({
                url: "/Lecture/AddSaveLecture",
                data: {
                    AddNum: @Num,
                    AddSubject: $("#AddSubject").val(),
                    AddSummary: $("#AddSummary").val(),
                    AddLectureTime: $("#AddLectureDate").val()+" "+$("#AddLectureTime").val(),
                    AddDeathLine: $("#AddDeathLine").val(),
                    AddSpan: $("#AddSpan").val(),
                    AddExpectPeople: $("#AddExpectPeople").val(),
                    AddArchitectureId: $("#AddArchitectureId").val(),
                    AddPlaceId: $("#AddPlaceId").val(),
                    AddScore: $("#AddScore").val(),
                },
                type: "POST",
                dataType: "json",
                success: function (result) {
                    $("#AddClose").click();
                    alert(result);
                    $("#LectureList").bootstrapTable('refresh');
                }
            })
        })
    </script>
    <!--ajax提交申请讲座信息信息结束-->
    <!--向修改模态框申请待编辑讲座信息信息-->
    <script>
        //编辑讲座信息信息
        function Edit(row) {
            var num = @Num;
            if( row.Num != num){
                alert("请通知申请人进行编辑");
                return false;
            }

            $("#EditSubject").val(row.Lecture.Subject);
            $("#EditApplyId").val(row.Id);
            $("#EditLectureId").val(row.LectureId);
            $("#EditSummary").val(row.Lecture.Summary);
            $("#EditLectureDate").val(changeDateFormat(row.Lecture.LectureTime));
            $("#EditLectureTime").val(changeTimeFormat(row.Lecture.LectureTime));
            $("#EditDeathLine").val(changeDateFormat(row.Lecture.DeathLine));
            $.ajax({               //获取学校建筑信息
                url: "/Architecture/GetAllArchitecture",
                type: "POST",
                dataType: "JSON",
                success: function (architecture) {
                    $("#EditArchitectureId").empty();
                    for (var i = 0; i < architecture.length; i++) {
                        if (architecture[i].Id == row.Place.ArchitectureId) {
                            $("#EditArchitectureId").append("<option value='" + architecture[i].Id + "' selected='selected'>" + architecture[i].ArchitectureName + "</option>")
                        } else {
                            $("#EditArchitectureId").append("<option value='" + architecture[i].Id + "'>" + architecture[i].ArchitectureName + "</option>")
                        }

                    }
                    $.ajax({            //获取建筑内教室信息
                        url: "/Place/GetAllPlace",
                        data: { ArchitectureId: $("#EditArchitectureId").val() },
                        type: "POST",
                        dataType: "JSON",
                        success: function (place) {
                            $("#EditPlaceId").empty();
                            for (var i = 0; i < place.length; i++) {
                                if (place[i].Id == row.Place.Id) {
                                    $("#EditPlaceId").append("<option value='" + place[i].Id + "' selected='selected'>" + place[i].PlaceName + "(可容纳"+place[i].PeopleNum+"人)</option>")
                                } else {
                                    $("#EditPlaceId").append("<option value='" + place[i].Id + "'>" + place[i].PlaceName + "(可容纳"+place[i].PeopleNum+"人)</option>")
                                }

                            }
                        }
                    })
                }
            })
            GetEditConfig("RoomNum", "EditExpectPeople",row.Lecture.ExpectPeople);         //预计人数
            GetEditConfig("SpanTime", "EditSpan",row.Lecture.Span);                //预计时长
            GetEditConfig("Score", "EditScore",row.Lecture.Score);                  //讲座学分
        }
    </script>
    <!--向修改模态框申请待编辑讲座信息信息结束-->
    <!--ajax提交编辑后的讲座信息-->
    <script>
        function EditSubmit() {
            $.ajax({
                url: "/Lecture/EditSaveLecture",
                data: {
                    EditNum: @Num,
                    EditApplyId: $("#EditApplyId").val(),
                    EditLectureId: $("#EditLectureId").val(),
                    EditSubject: $("#EditSubject").val(),
                    EditSummary: $("#EditSummary").val(),
                    EditLectureTime: $("#EditLectureDate").val()+" "+$("#EditLectureTime").val(),
                    EditDeathLine: $("#EditDeathLine").val(),
                    EditSpan: $("#EditSpan").val(),
                    EditExpectPeople: $("#EditExpectPeople").val(),
                    EditArchitectureId: $("#EditArchitectureId").val(),
                    EditPlaceId: $("#EditPlaceId").val(),
                    EditScore: $("#EditScore").val(),
                },
                type: "POST",
                dataType: "json",
                success: function (result) {
                    $("#EditClose").click();
                    alert(result);
                    $("#LectureList").bootstrapTable('refresh');
                }
            })
        }
    </script>
    <!--ajax提交编辑后的讲座信息结束-->
    <!--ajax删除讲座信息信息并更新表格-->
    <script>
        $("#DeleteLectureBtn").click(function () {

            var ids = $.map($("#LectureList").bootstrapTable('getSelections'),
                function (row) {
                    return row.Id;
                })
            if (ids.length <= 0) {
                alert("请选择至少一条的删除记录");
            } else {
                if (confirm("确定删除？")) {
                    $.ajax({
                        url: "/Lecture/Delete",
                        type: "POST",
                        data: { Ids: ids },
                        dataType: "json",
                        success: function (result) {
                            alert(result);
                            $("#LectureList").bootstrapTable('refresh');
                        }
                    })
                }
            }
        })
    </script>
    <!--ajax删除讲座信息信息并更新表格结束-->
    <!--下拉选择加载-->
    <script>
        //获取建筑和地点信息
        function GetArchitecture() {
            $.ajax({               //获取学校建筑信息
                url: "/Architecture/GetAllArchitecture",
                type: "POST",
                dataType: "JSON",
                success: function (architecture) {
                    $("#AddArchitectureId").empty();
                    for (var i = 0; i < architecture.length; i++) {
                        if (i == 0) {
                            $("#AddArchitectureId").append("<option value='" + architecture[i].Id + "' selected='selected'>" + architecture[i].ArchitectureName + "</option>")
                        } else {
                            $("#AddArchitectureId").append("<option value='" + architecture[i].Id + "'>" + architecture[i].ArchitectureName + "</option>")
                        }

                    }
                    $.ajax({            //获取建筑内地点信息
                        url: "/Place/GetAllPlace",
                        data: { ArchitectureId: $("#AddArchitectureId").val() },
                        type: "POST",
                        dataType: "JSON",
                        success: function (place) {
                            $("#AddPlaceId").empty();
                            for (var i = 0; i < place.length; i++) {
                                if (i == 0) {
                                    $("#AddPlaceId").append("<option value='" + place[i].Id + "' selected='selected'>" + place[i].PlaceName + "(可容纳"+place[i].PeopleNum+"人)</option>")
                                } else {
                                    $("#AddPlaceId").append("<option value='" + place[i].Id + "'>" + place[i].PlaceName + "(可容纳"+place[i].PeopleNum+"人)</option>")
                                }
                            }
                        }
                    })
                }
            })
            GetConfig("RoomNum", "AddExpectPeople");         //预计人数
            GetConfig("SpanTime", "AddSpan");                //预计时长
            GetConfig("Score", "AddScore");                  //讲座学分
        }
        //建筑信息改变
        function ArchitectureChange(ArchitectureName,PlaceName) {
            $.ajax({            //获取建筑内教室信息
                async: false,
                url: "/Place/GetAllPlace",
                data: { ArchitectureId: $("#" + ArchitectureName).val() },
                type: "POST",
                dataType: "JSON",
                success: function (place) {
                    $("#" + PlaceName).empty();
                    for (var i = 0; i < place.length; i++) {
                        if (i == 0) {
                            $("#" + PlaceName).append("<option value='" + place[i].Id + "' selected='selected'>" + place[i].PlaceName + "(可容纳"+place[i].PeopleNum+"人)</option>")
                        } else {
                            $("#" + PlaceName).append("<option value='" + place[i].Id + "'>" + place[i].PlaceName + "(可容纳"+place[i].PeopleNum+"人)</option>")
                        }
                    }
                    if(PlaceName.search("Add")!=-1){
                        PeopleNumberCheck(0);
                    }else if(PlaceName.search("Edit")!=-1){
                        PeopleNumberCheck(1)
                    }
                }
            })
        }
    </script>
    <!--下拉选择加载结束-->s

    <!--自定义函数-->
    <script>
        //日期转换
        function changeDateFormat(cellval) {
            if (cellval != null) {
                let date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                let month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                let currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                return date.getFullYear() + "-" + month + "-" + currentDate
            }
        }
        //时间转换
        function changeTimeFormat(cellval) {
            if (cellval != null) {
                let date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                let hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
                let minute = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
                return hours + ":" + minute;
            }
        }

        //获取配置值
        function GetConfig(Name, Id) {
            $.ajax({
                url: "/Lecture/GetConfig?Name=" + Name,
                type: "POST",
                dataType: "JSON",
                success: function (result) {
                    $("#" + Id).empty();
                    for (var i = 0; i < result.length; i++) {
                        if (i == 0) {
                            $("#" + Id).append("<option value='" + result[i] + "' selected='selected'>" + result[i] + "</option>")
                        } else {
                            $("#" + Id).append("<option value='" + result[i] + "'>" + result[i] + "</option>")
                        }

                    }
                }
            })
        }

        //编辑是配置值获取
        function GetEditConfig(Name, Id, Num) {
            $.ajax({
                url: "/Lecture/GetConfig?Name=" + Name,
                type: "POST",
                dataType: "JSON",
                success: function (result) {
                    $("#" + Id).empty();
                    for (var i = 0; i < result.length; i++) {
                        if (result[i] == Num) {
                            $("#" + Id).append("<option value='" + result[i] + "' selected='selected'>" + result[i] + "</option>")
                        } else {
                            $("#" + Id).append("<option value='" + result[i] + "'>" + result[i] + "</option>")
                        }

                    }
                }
            })
        }

        //二维码图片加载
        function GetQRCode(path) {
            $("#QRImg").attr("src","/QRCode/"+path+".jpg");
        }

        //Excel导出时多选框控制
        var count = 0;
        $("#AllExcel").click(function(){
            if(count==0){
                $("#NumExcel").attr("disabled",true);
                $("#NameExcel").attr("disabled",true);
                $("#SexExcel").attr("disabled",true);
                $("#PhoneNumExcel").attr("disabled",true);
                $("#MajorClassExcel").attr("disabled",true);
                $("#ArchitectureExcel").attr("disabled",true);
                $("#OrderExcel").attr("disabled",true);
                $("#StartTimeExcel").attr("disabled",true);
                $("#EndTimeExcel").attr("disabled",true);
                count = 1;
            }else if(count==1){
                $("#NumExcel").attr("disabled",false);
                $("#NameExcel").attr("disabled",false);
                $("#SexExcel").attr("disabled",false);
                $("#PhoneNumExcel").attr("disabled",false);
                $("#MajorClassExcel").attr("disabled",false);
                $("#ArchitectureExcel").attr("disabled",false);
                $("#OrderExcel").attr("disabled",false);
                $("#StartTimeExcel").attr("disabled",false);
                $("#EndTimeExcel").attr("disabled",false);
                count = 0;
            }
        })

        function SetExcelLectureId(LectureId){
            $("#LectureIdExcel").val(LectureId);
        }

        //预计人数和房间容纳人数检测,0添加时检测，1编辑时检测
        function PeopleNumberCheck(State){
            var placePeopleId;
            var exPectPeople;
            if(State == 0){
                placePeopleId = $("#AddPlaceId").val();
                exPectPeople = $("#AddExpectPeople").val()
            }else if(State==1){
                placePeopleId = $("#EditPlaceId").val();
                exPectPeople = $("#EditExpectPeople").val()
            }
            $.ajax({
                url:"/Place/GetPlace?Id="+placePeopleId,
                type: "POST",
                dataType: "JSON",
                success: function (result) {
                    if(result.PeopleNum<exPectPeople){
                        alert("当前地点人数小于期望人数");
                    }
                }
            })
        }

        //开始时间检测
        function LectureCheck(State) {
            let LectureDate;
            if(State == 0){
                LectureDate = $("#AddLectureDate").val();
            }else if(State == 1){
                LectureDate = $("#AddLectureDate").val();
            }

            if(LectureDate==""){
                return false;
            }

            let now = new Date()
            let flag = 0;   //0初值，1年份相同，2月份相同

            let strLectureDate = LectureDate.split("-");

            if(strLectureDate[0] < now.getFullYear()){
                alert("讲座开始日期应在当天之后");
                return false;
            }else if(strLectureDate[0] == now.getFullYear()){
                flag = 1;
            }

            if(flag == 1){
                if(strLectureDate[1] < (now.getMonth()+1)){
                    alert("讲座开始日期应在当天之后");
                    return false;
                }else if(strLectureDate[1] == (now.getMonth()+1)){
                    flag = 2;
                }
            }

            if(flag == 2){
                if(strLectureDate[2] <= now.getDate()){
                    alert("讲座开始日期应在当天之后");
                    return false;
                }
            }
        }

        //报名时间检测 0添加 1修改
        function DeathLineCheck(State) {
            let DeathDate;
            let Lecture;
            if(State == 0){
                DeathDate = $("#AddDeathLine").val();
                Lecture = $("#AddLectureDate").val();
            }else if(State == 1){
                DeathDate = $("#EditDeathLine").val();
                Lecture = $("#EditLectureDate").val();
            }

            LectureCheck(State);
            if(DeathDate == ""){
                alert("请填写讲座报名截止日期");
                return false;
            }


            let now = new Date();
            let flag = 0;   //0初值，1年份相同，2月份相同

            let strDeathDate = DeathDate.split("-");
            let strLecture = Lecture.split("-");
            //与当前时间对比
            if(strDeathDate[0] < now.getFullYear()){
                alert("报名截止时间应在当前日期之后至讲座开始当天中任意时间");
                return false;
            }else if(strDeathDate[0] == now.getFullYear()){
                flag = 1;
            }
            if(flag == 1){
                if(strDeathDate[1] < (now.getMonth()+1)){
                    alert("报名截止时间应在当前日期之后至讲座开始当天中任意时间");
                    return false;
                }else if(strDeathDate[1] == (now.getMonth()+1)){
                    flag = 2;
                }
            }
            if(flag == 2){
                if(strDeathDate[2] <= now.getDate()){
                    alert("报名截止时间应在当前日期之后至讲座开始当天中任意时间");
                    return false;
                }
            }
            //与开始时间对比
            flag = 0;
            if(strDeathDate[0] > strLecture[0]){
                alert("报名截止时间应在当前日期之后至讲座开始当天中任意时间");
                return false;
            }else if(strLecture[0] == now.getFullYear()){
                flag = 1;
            }
            if(flag == 1){
                if(strDeathDate[1] >  strLecture[1]){
                    alert("报名截止时间应在当前日期之后至讲座开始当天中任意时间");
                    return false;
                }else if(strLecture[1] == strLecture[1]){
                    flag = 2;
                }
            }
            if(flag == 2){
                if(strLecture[2] > strLecture[2]){
                    alert("报名截止时间应在当前日期之后至讲座开始当天中任意时间");
                    return false;
                }
            }
        }

    </script>
    <!--自定义函数结束-->

}



